shapely
scikit-image
pyclipper
lmdb
tqdm
numpy<2.0.0
rapidfuzz
opencv-python
opencv-contrib-python
cython
Pillow
pyyaml
requests
albumentations
# to be compatible with albumentations
albucore
packaging
streamlit
paddlepaddle==2.6.2
paddleocr==2.7.3
python-docx
openpyxl
